@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
  .tribetek-shape {
    border-radius: 0 100% 0 20%;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }

  ::-webkit-scrollbar-thumb {
    background: #ed4716;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c53912;
  }
}

/* Font face for Astonpoliz */
@font-face {
  font-family: "Astonpoliz";
  src: url("/fonts/Astonpoliz.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Apply to h1 elements */
h1,
h2 {
  font-family: "Astonpoliz", sans-serif;
}
